
.Landing-page {
	height: 2100px;
	width: 100%;
	padding-top: 72px;
	padding-bottom: 72px;
	padding-right: 124px;
	padding-left: 124px;
	gap: 40px; 
}

.company-collection {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: flex-start;
}

.company-card {
    border: solid 1px black;
    margin: 12px;
    width: 600px;
    height: 300px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}


.photo-box {
    display: flex;
    margin-top: 12px;
    height: 100px;
    width: 120px;
}

.photo-box img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain; /* or 'cover' depending on how you want the images to fit */
}


.para {
	margin-top: 30px;
	margin-right: 10px;
	margin-left: 10px;
	font-size: 15px;
}

.addy {
	font-size: 12px;
}


