{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
  <div class="home1">
    <div class="item item-1">
	<div class="job-card">
	    <div class="job-type">
	        <div class="type-label">FullTime</div>
	    </div>
	    <div class="job-details">
		<div class="company-name">ARION BANKI</div>
		<div class="location">
		    <span class="company">ARION</span>
		    <div class="dot"></div>
		    <span class="location-text">REYKJAVÍK, ICELAND</span>
		</div>
	    </div>
	
	<div class="job-description">IS ARION LOOKING FOR YOU...</div>
	<div class="tags">
	    <div class="tag" style="background-color: rgba(234.60, 132.60, 51, 0.10); color: #FFB836;">SALES</div>
	    <div class="tag" style="background-color: rgba(86, 205, 173, 0.10); color: #56CDAD;">BUSINESS</div>
       </div>
    </div>
    <div class="item item-2">item 2</div>
    <div class="item item-3">item 3</div>
    <div class="item item-4">item 4</div>
  </div>
{% endblock %}
