<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href='{% static '/css/loginstyle.css' %}?{% now "U" %}'>
    <title>Company Log In</title>
</head>
<body>
    <div class="login">
        <form class="form-container">
            <section class="login-copy">
                <h2>Company Log In</h2>
                <div class="login-container">
                    <p>Don't have an account?<a href="/sign-up-company.html">
                        <strong>Sign up</strong></a></p>
                </div>
            </section>
            <div class="input-container name">
                <label for="email">Email</label>
                <input id="email" name="email" type="email" placeholder="Enter your email" required>
            </div>
            <div class="input-container name">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" placeholder="Choose a password" required>
            </div>
            <button class="login-btn" type="submit">Log in</button>
        </form>
    </div>
</body>
</html>